-- Migration 331: Adiciona profile_id em area_pessoas para vincular apelidos a profiles
ALTER TABLE area_pessoas ADD COLUMN IF NOT EXISTS profile_id uuid REFERENCES auth.users(id) ON DELETE SET NULL;
